<div class="mx-auto my-10 max-w-3xl px-5 md:my-20">
  <h1 class="text-3xl text-center "><%= t('.title') %></h1>
  <%= form_with model: @board, class: 'grid grid-cols-1 gap-5 mt-10' do |f| %>
    <div class="grid grid-cols-1 gap-3">
      <%= f.label :title, class: 'font-medium' %>
      <%= f.text_field :title, class: 'border rounded w-full text-base p-2' %>
    </div>
    <div class="grid grid-cols-1 gap-3">
      <%= f.label :body, class: 'font-medium' %>
      <%= f.text_area :body, class: 'border rounded w-full text-base p-2' %>
    </div>
    <div class="text-center">
      <%= f.submit nil, class: 'inline-block border rounded px-4 py-2 cursor-pointer' %>
    </div>
  <% end %>
</div>
